#ImagemNotaFiscal{
    align-items: center;
    text-align: justify;
    margin: auto;
    padding-left: 20%;
    display: none;

}

#buttonEditCSS{
    width: 55px;
    height: 20px;
}

button{
    padding: 5px;
    
}
#buttons{
    margin: 1px;
}

.text_page{

    text-align: center;

}

#findID{
    margin: auto;
    display: flex;
    padding: 2px;
}

#find{

    justify-content: center;
    margin: auto;
    display: flex;
}

img{

    margin:auto;
}