button{
    padding: 5px;
    
}

#findID{
    margin: auto;
    display: flex;
    padding: 2px;
}

#find{

    justify-content: center;
    margin: auto;
    display: flex;
}

a{
    margin: auto;
    color: black;
}

a:visited {
    color: black;
}

#Buttons{
    display: flex;
    width: 100%;
    background-color:white;
    border-radius: 4px;
}
.solid{
    padding: 12px;
    background-color: white;
    border-radius: 4px;
}



#ListaItem{
    margin-bottom:70px;
}

li {
    margin: auto;
    justify-content: center;
    text-align: justify;
    background-color: gray;
    width: 80%;
    margin-bottom: 8px;
    border: solid 2px black;
    border-radius: 4px;
    list-style: none;
    
}

img{
    width: 100%; 
	height: 40%; 
	object-fit: cover;
}

li a{
    margin: 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
}

li p{

    margin: 8px;
    font-size: 120%;
    
    
}


.text_page{
    text-align: center;

}

#lista_itens{
    text-align: center;
    justify-content: center;
}