button{
  padding: 3px;
  border-radius: 8px;
  margin-left: 3px;
  margin: auto;
  
}

#buttons{
  margin: auto;
  
  
  
}
h1{

  display: block;
  margin: auto;
  text-align: center;
  
}
a{
  margin: auto;
  
}