h1{  
  margin: auto;
  text-align: center;
}
a{
  margin: auto;
  color: black;
}

#Buttons{
  display: flex;
  width: 100%;
  
  
}
.solid{
  padding: 12px;
  background-color: white;
  border-radius: 4px;

  
}

a:visited {
  color: black;
}