#dadosItem{
  display: flex ;
  flex-direction: column;
  align-content: center;
  justify-content:center;
  align-items: center;
  margin: auto;
  padding: 20px;
  height: auto;
  width:auto;
  
}
h3, h4{
  text-align: center;
  margin: auto;
  
  
}

h1{
  align-items: center;
  text-align: center;
  margin: auto;
}

button{
  margin: auto;
  padding: 4px;
  
  

}

#VisuNota{
  align-items: center;
  margin: auto;
  display: none;

}
.result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }
  .body{
    display:flex;
    align-items:center;

  }

button{
  background-color: rgb(213, 213, 213);
  cursor: pointer;
  color: black;
  border-radius: 7px;
}

#find{ /* usado # para pegar a id*/
  background-color: purple;
  color:#fff;

}
#row{
margin: auto;
  
}
#reader{
  margin: auto;
  width: 100vw;
}

#findID{
  margin: auto;
  margin-left: 20vw;
  
}